<div class="container-fivid">
    <div class="row mt-4">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">

                    <form>
                        <div class="md-3">
                            <h3 class="text-dard text-muted text-muted"> Welcome</h3>
                        </div>

                        <button type="button" class="btn btn-warning text-center" (click)="register()">Logout</button>

                    </form>

                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>